.bsp/
.metals/
.scala-build/
.vscode/
.idea/
wacc-compiler

# ignore all drafts
**/draft.wacc


# Added by cargo

/target
out/

.DS_Store

# ignore generated draft files and temporary assembly files
draft
*.s